<!DOCTYPE html>
<html>
<head>
<title>新增-角色管理</title>
#parse("include/header.html")
</head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">角色名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="角色名称" v-model="role.roleName" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">角色标识<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="多个用逗号分隔，如：admin,guest" v-model="role.roleSign" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle formTitle-top">备注</td>
	            <td class="formValue">
					<textarea class="form-control" rows="4" placeholder="备注" v-model="role.remark"></textarea>
	            </td>
        	</tr>
		</table>
	</div>
	#parse("include/footer.html")
	<script
		src="${rc.contextPath}/statics/js/base/role/add.js?_${date.systemTime}"></script>
</body>
</html>