<!DOCTYPE html>
<html>
<head>
<title>用户管理</title>
#parse("include/header.html")
</head>
<body>
<div id="dpLTE" class="container-fluid" v-cloak>
	<div class="row">
		<div class="col-md-6 form-inline pull-left">
			<div class="form-group">
		    	<input v-model="keyword" @keyup.enter="load" class="form-control" placeholder="请输入查询关键字" style="width: 220px;" />
			</div>
			<div class="form-group">
			    <a class="btn btn-primary" @click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
		            <a v-if="hasPermission('sys:user:list')" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
		            <a v-if="hasPermission('sys:user:save')" class="btn btn-default" @click="save"><i class="fa fa-plus"></i>&nbsp;新增</a>
		            <a v-if="hasPermission('sys:user:edit')" class="btn btn-default" @click="edit"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
		            <a v-if="hasPermission('sys:user:remove')" class="btn btn-default" @click="remove"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		        </div>
		        <div class="btn-group">
		        	<a v-if="hasPermission('sys:user:disable')" class="btn btn-default" @click="disable"><i class="fa fa-pause"></i>&nbsp;禁用</a>
		        	<a v-if="hasPermission('sys:user:enable')" class="btn btn-default" @click="enable"><i class="fa fa-play"></i>&nbsp;启用</a>
		        	<a v-if="hasPermission('sys:user:resetPassword')" class="btn btn-default" @click="reset"><i class="fa fa-key"></i>&nbsp;重置密码</a>
		        </div>
	        </div>
		</div>
	</div>
	<div class="row">
		<table id="dataGrid"></table>
	</div>
</div>
#parse("include/footer.html")
<script src="${rc.contextPath}/statics/js/base/user/list.js?_${date.systemTime}"></script>
</body>
</html>